@import url('https://fonts.googleapis.com/css?family=Merriweather');

.App {
  text-align: center;
}

nav {
	width: 100%;
  background: #fafafa;
  border-top: 1px solid black;
	margin: 0px;
  position: fixed;
  bottom: 0;
  margin-right: 50px;
}
body {
  font-family: 'Merriweather', serif;
}

a{
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid black;
  margin: 0px;
  position: fixed;
  top: 0;
  margin-right: 50px;
  text-align: center;
  /* vertical-align: middle; */
  }

.profile-pic{
  border-radius: 50%;
  max-width: 15%;
  /* max-height:20%; */
}
.prof-header, .header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.prof-header{
  margin-bottom: 30px;
  margin-left: 12px;
}
.back{
  margin-right: 15px;
  margin-left: 15px;
}
h1{
  justify-content: center;
  font-size: 137%;
  /* align-self: center; */
}
.room-list, .explore-list, .inner{
  margin-top: 100px;
  margin-bottom: 80px;
}
.room-inlist{
  /* flex-direction: column;
  justify-content: space-between; */
  border: 1px solid black !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
.room-inlist svg{
  align-self: flex-end;
}

.explore-list{

}
img{
  height: 100%;
  width: 100%;
}

.ex-inlist{
    /* width: 30%;
    margin-left: 30px; */
    width: 30%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ex-inlist img{
  border-radius: 20px;
  max-width: 100%;
}
.ex-inlist h2{
  font-size: 70%;
  margin-bottom: 0;
  margin-top: 0;
}
.ex-inlist p{
  font-size: 50%;
  margin-top: 0px;
  margin-bottom: 16px;
}
.preview-pic {
  max-width: 15% !important;
}
.explore-container{
  display: flex;
  /* margin-left: 15px; */

}
.room-inlist{
  border: 1px solid black;
  display: flex;
  text-align: center;
  flex-direction: row;
}

.furn-inlist{
  display: flex;
  flex-direction: row;
}

.furn-pic{
  position: fixed;
  max-height: 30%;
  max-width: 30%;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  align-items: center;
}

.prof-info{
  margin-left: 12px;
}
.prof-name{
  margin-bottom: 0px;
}
.location{
  color: #979aa0;
  margin-top: 0px;
  font-size: 85%;
}
.prof-info svg{
  font-size: 100%;
}

.bottom-info{
  margin-right: 10%;
  margin-left: 5%;
}
.bottom-info p{
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
h4{
  margin-right: 10px;
}
