@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
.App {
  text-align: center;
}
body {
  font-family: 'Noto Serif', serif;
  background-color: white;
  color: #2e4058;
}

body .room-single{
  overflow: hidden !important;
}
.home-page{
  background-color: #fae7dc;
  height: 100vh;
}
.enter{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.enter img{
  width: 180px;
  height: 180px;
}
.enter-tutorial{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.enter-tutorial img {
  height: 253px;
  width: 230px;
}
.enter-tutorial a{
  text-align: center;
  margin-top: 40px;
}
.tutorial-images{
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.save{
  max-width: 188px !important;
}
.create{
  height: 252px !important;
  width: 179px !important;
}
nav {
	width: 100%;
  background: #fafafa;
  border-top: 1px solid black;
	margin: 0px;
  position: fixed;
  bottom: 0;
  margin-right: 50px;
}


a{
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  background: #fafafa;
  /* border-bottom: 1px solid black; */
  margin: 0px;
  position: fixed;
  top: 0;
  margin-right: 50px;
  text-align: center;
  justify-content: center;
  height: 46px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(194,183,194,1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(194,183,194,1);
  box-shadow: 1px 1px 5px 0px rgba(194,183,194,1);
  }
  .header img{
    max-width: 58px;
  }
  .header a {

  }
.header h1{
  align-self: center;
}
.nav{
  display:flex;
  }
.nav a{
  color:#2e4058;
}
.nav p{
  
}
.profile-pic{
  border-radius: 50%;
  max-width: 15%;
}
.prof-header, .header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.prof-header{
  margin-bottom: 30px;
  margin-left: 12px;
}
.back{
  margin-right: 15px;
  margin-left: 15px;
}
h1{
  justify-content: center;
  font-size: 137%;
}
.room-list, .explore-list, .inner{
  margin-top: 100px;
  margin-bottom: 80px;
}
.inner{

}
.room-inlist{
  display: flex !important;
  justify-content: space-around !important;
  text-align: center;
  flex-direction: row;

}
.room-inlist{

}

.room-inlist svg{
  align-self: flex-end;
}

.forward-arrow{
  top:50%;
  align-self: center;
}

.add-room{
  margin-left: 10px;
}

.add-room img{
  max-width: 120px;
}

.explore-list{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.search-bar{
  margin-top: 67px;
  margin-bottom: -54px;
  /* border: 1px solid black; */
  width: 90%;
  height: 20px;
  display: flex;
  margin-left: 8%;
}
.search-txt{
  width:90%;
  border: 1px solid gray;
  background-color: #f1f1f1;
  border-radius: 20px;
}
.filter{
  display: flex;
  margin-top: 71px;
  margin-bottom: -90px;
  /* justify-content: space-around; */
  margin-left: -17px;
}
li:active{
  background-color: #2e4058;
  color: white;
}
ul{
  list-style-type: none;
}
li{
  border: 1px solid #2e4058;
  border-radius: 20px;
  padding: 0 6px 0 6px;
  margin-left: 11px;
  font-size: 12px;
}
.specific{
  display: flex;
  margin-top: 100px;
  margin-bottom: -67px;
  /* justify-content: space-around; */
  margin-left: -17px;
}


.room-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room-pic{
  width: 306px !important;
  height: 311px !important;
}

.ex-inlist{
    flex-direction: row;
    width: 50%;
    margin-left: 35px;
    margin-right: 27px;
}
.ex-inlist img{
  border-radius: 20px;
  max-width: 120px !important;
  max-height: 80px !important;
}
.ex-inlist h2{
  font-size: 70% !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.ex-inlist p{
  font-size: 50%;
  margin-top: 0px;
  margin-bottom: 16px;
}
.preview-pic {
  max-width: 15% !important;
}
.explore-container{
  display: flex;
  margin-left: 10px;
}


.furn-inlist{
  display: flex;
  flex-direction: row;
}
.furn-list p{
  margin-left: 12px;
}

.furn-pic{
  position: absolute;
  max-height: 30%;
  max-width: 30%;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  align-items: center;
}

.inner img {
  height: 100%;
  width: 100%;
}
.couch{
  position: absolute;
  max-height: 85px;
  max-width: 85px;
  margin: auto;
  background: white;
  align-items: center;
}

.bed{
  position: absolute;
  max-height: 141px;
  max-width: 120px;
  margin: auto;
  background: white;
  align-items: center;
}
.table{
  position:absolute;
  max-height: 88px;
  max-width: 118px;
  margin: auto;
  background: white;
  align-items: center;
}
.dresser{
  position: absolute;
  max-height: 50px;
  max-width: 105px;
  margin: auto;
  background: white;
  align-items: center;
}
.rug {
  max-height: 70px;
  max-width: 108px;
  position: absolute;

}
.tv{
  max-height: 107px;
  max-width: 31px;
  position: absolute;
}

.prof-info{
  margin-left: 12px;
}
.prof-name{
  margin-bottom: 0px;
}
.location{
  color: #979aa0;
  margin-top: 0px;
  font-size: 85%;
}
.prof-info svg{
  font-size: 100%;
}

.bottom-info{
  margin-right: 10%;
  margin-left: 5%;
}
.bottom-info p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.bottom-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -11px;
}
h4{
  font-weight: bold;
  margin-right: 7px;
}
.sugg-header h4 {
  font-weight: bold;
}

.suggestions img {
  border-radius: 20px;
  max-width: 20% !important;
  align-self: center;
}
.suggestions{
  display:flex;
  font-size: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 15px;
}
.side{
  margin-left: 10px;
}
.sugg-header{
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: -9px;
}
.sugg-header p {
    margin-bottom: -1px !important;
    color: black !important;
}
.side p{
  margin-top: 0px;
  margin-bottom: -4px;
  color: #8d9096;
}
.desc{
  margin-top:5px !important;
  color: black !important;
}
h3{
  font-size: 15px;
  border-bottom: 1px solid black;
  margin-left: 12px;
  margin-right: 12px;
}
h2{

}
.bed-container{
  margin-left: -77px;
    margin-top: -32px;
}
.couch-container{
  margin-left: -231px;
    margin-top: 17px;

}
.dresser-container{
  margin-left: 231px;
      margin-top: -31px;

}
.rug-container{
  margin-left: -151px;
      margin-top: 2px;
}
.table-container{
  margin-left: 78px;
  margin-top: -31px;

}
.tv-container{
  margin-left: 23px;
  margin-top: -32px;
}
.add {
  margin-top: 89px;
  margin-left: 40px;
}
.add input{
  background-color:#f1f1f1;
  display: flex;
  margin-left: 10px;
}
label{
  display: flex;
  flex-direction: row;
  margin-top:11px;
}
.submit-button{
  margin-top: 20px;
}

@media screen and (min-width: 550px) {
  .FooterNav{
    visibility: hidden;
  }
  .add-room{
    margin-left:155px;
  }
}
@media screen and (max-width: 550px){
  .nav{
    visibility: hidden;
  }
}
