@import url('https://fonts.googleapis.com/css?family=Merriweather');

.App {
  text-align: center;
}
body {
  font-family: 'Merriweather', serif;
  /* background-color: #fafafa; */
  background-color: white;
}

.home-page{
  background-color: #fae7dc;
  height: 100vh;
}
.enter{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.enter img{
  width: 180px;
  height: 180px;
}
.enter-tutorial{
  /* border: solid black 1px; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.enter-tutorial img {
  height: 253px;
  width: 230px;
}
.enter-tutorial a{
  text-align: center;
  margin-top: 40px;
}
.tutorial-images{
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.save{
  max-width: 188px !important;
}
.create{

}
nav {
	width: 100%;
  background: #fafafa;
  border-top: 1px solid black;
	margin: 0px;
  position: fixed;
  bottom: 0;
  margin-right: 50px;
}


a{
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid black;
  margin: 0px;
  position: fixed;
  top: 0;
  margin-right: 50px;
  text-align: center;
  justify-content: center;
  height: 46px;
  /* vertical-align: middle; */
  }
  .header img{
    max-width: 58px;
  }

.profile-pic{
  border-radius: 50%;
  max-width: 15%;
  /* max-height:20%; */
}
.prof-header, .header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.prof-header{
  margin-bottom: 30px;
  margin-left: 12px;
}
.back{
  margin-right: 15px;
  margin-left: 15px;
}
h1{
  justify-content: center;
  font-size: 137%;
  /* align-self: center; */
}
.room-list, .explore-list, .inner{
  margin-top: 100px;
  margin-bottom: 80px;
}
.inner{

}
.room-inlist{
  /* flex-direction: column;
  justify-content: space-between; */
  border: 1px solid black !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
.room-inlist svg{
  align-self: flex-end;
}

.explore-list{
/* display:flex; */
 /* display: flex;
 flex-wrap: wrap; */
 /* display: flex;
 flex-wrap: wrap;
 justify-content: center; */

}

/* img{
  height: 100%;
  width: 100%;
} */
.room-layout{
  /* margin-left: 30%; */
  /* width: 306px !important;
  height: 311px !important;
   /*position: fixed; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.room-pic{
  width: 306px !important;
  height: 311px !important;
}

.ex-inlist{
    /* display:flex;
    flex-direction:row;
    width: 30%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; */
    flex-direction: row;
    width: 50%;
    margin: auto;
}
.ex-inlist img{
  border-radius: 20px;
  /* max-width: 100%;
  max-width: 160px; */
max-height: 120px !important;
}
.ex-inlist h2{
  font-size: 70%;
  margin-bottom: 0;
  margin-top: 0;
}
.ex-inlist p{
  font-size: 50%;
  margin-top: 0px;
  margin-bottom: 16px;
}
.preview-pic {
  max-width: 15% !important;
}
.explore-container{
  display: flex;
  /* margin-left: 15px; */

}
.room-inlist{
  border: 1px solid black;
  display: flex;
  text-align: center;
  flex-direction: row;
}

.furn-inlist{
  display: flex;
  flex-direction: row;
}

.furn-pic{
  position: absolute;
  max-height: 30%;
  max-width: 30%;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  align-items: center;
}

.inner img {
  height: 100%;
  width: 100%;
}
.couch{
  position: relative;

  max-height: 85px;
  max-width: 85px;
  top: -376px;
  left: -99px;
  margin: auto;
  background: white;
  align-items: center;
  /* transform: translate(8px, -380px) !important; */
}
.bed{
  position: relative;
  max-height: 125px;
  max-width: 100px;
  top: -529px;
  left: 94px;
  margin: auto;
  background: white;
  align-items: center;
}
.table{
  position: relative;
  max-height: 85px;
  max-width: 85px;
  top: -492px;
left: -96px;
  margin: auto;
  background: white;
  align-items: center;
}
.dresser{
  position: relative;
  max-height: 50px;
  max-width: 105px;
  top: -608px;
  left: 91px;
  margin: auto;
  background: white;
  align-items: center;
}
.rug {
  max-height: 50px;
  max-width: 105px;
  top: -842px;
  left: 92px;
  position: relative;
}
.tv{
  max-height: 109px;
  max-width: 28px;
  top: -1007px;
  left: -53px;
  position: relative;
}

.prof-info{
  margin-left: 12px;
}
.prof-name{
  margin-bottom: 0px;
}
.location{
  color: #979aa0;
  margin-top: 0px;
  font-size: 85%;
}
.prof-info svg{
  font-size: 100%;
}

.bottom-info{
  margin-right: 10%;
  margin-left: 5%;
}
.bottom-info p{
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -11px;
}
h4{
  font-weight: bold;
  margin-right: 7px;
}
.sugg-header h4 {
  font-weight: bold;
}

.suggestions img {
  border-radius: 20px;
  max-width: 20% !important;
  align-self: center;
}
.suggestions{
  display:flex;
  font-size: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.side{

}
.sugg-header{
  display: flex;
  align-items: center;
  height: 32px;
}
.sugg-header p {
    margin-bottom: -1px !important;
    color: black !important;
}
.side p{
  margin-top: 0px;
  margin-bottom: -4px;
  color: #8d9096;
}
.desc{
  margin-top:5px !important;
  color: black !important;
}
