@import url('https://fonts.googleapis.com/css?family=Merriweather');

.App {
  text-align: center;
}


nav {
	width: 100%;
  background: #fafafa;
  border-top: 1px solid black;
	margin: 0px;
  position: fixed;
  bottom: 0;
  margin-right: 50px;
}
body {
  font-family: 'Merriweather', serif;
}

a{
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid black;
  margin: 0px;
  position: fixed;
  top: 0;
  margin-right: 50px;
  text-align: center;
  /* vertical-align: middle; */
  }

.profile-pic{
  border-radius: 50%;
  max-width: 20%;
  max-height:20%;
}
.prof-header, .header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.back{
  margin-right: 15px;
  margin-left: 15px;
}
h1{
  justify-content: center;
}
.room-list, .explore-list, .inner{
  margin-top: 100px;
  margin-bottom: 80px;
}

img{
  height: 100%;
  width: 100%;
}

.ex-inlist{
    border: 1px solid black;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ex-inlist img{
  border-radius: 20px;
  max-width: 100%;
}
.ex-inlist h2{
  font-size: 50%;
}
.room-inlist{
  border: 1px solid black;
  display: flex;
  text-align: center;
  flex-direction: row;
}

.furn-inlist{
  display: flex;
  flex-direction: row;
}

.furn-pic{
  position: fixed;
  max-height: 30%;
  max-width: 30%;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  border-radius: 25px;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  border: 2px solid black;
}

.location{
  color: #979aa0;
}
